.container {
  position: absolute;
  top: 0;
  
}

.show {
  @extend .container;
  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease;
  transition: visibility .1s ease;
}

.close {
  @extend .container;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease;
  transition: visibility .1s ease;
}