$headerLogo:'~@/assets/images/cqupt_nmid.png';

$themeBg:'~@/assets/images/theme_bg.png';
$teamBg:'~@/assets/images/team_bg.png';

$locationLogo:'~@/assets/images/location_logo.png';
$volunteersLogo:'~@/assets/images/volunteers_logo.png';
$accommodationLogo:'~@/assets/images/accommodation_logo.png';

$npxLogo:'~@/assets/images/nxp_logo.png';
$QRcode:'~@/assets/images/QRcode.png';
$cquptLogo:'~@/assets/images/CQUPT_logo.png';

$modalBac:'~@/assets/images/modal_bac.png';
$loginModalBac:'~@/assets/images/login_modal_bac.png';
$modalX:'~@/assets/images/modal_x.png';

$volunteerQR:'~@/assets/images/volunteer_qr.png'
